<page-header [title]="'培训详情'"></page-header>
<nz-card [nzHoverable]="true" [nzBordered]="false">
  <nz-row [nzGutter]="24">
    <nz-col [nzSpan]="4" class="text-center">
      <qr [value]="value" [background]="background" [backgroundAlpha]="backgroundAlpha" [foreground]="foreground" [foregroundAlpha]="foregroundAlpha"
        [level]="level" [mime]="mime" [padding]="padding" [size]="size" style="border:1px solid #999"></qr>
    </nz-col>
    <nz-col [nzSpan]="20">
      <desc-list size="large" title="Training Title" class="mb-lg">
        <desc-list-item>1000000000</desc-list-item>
      </desc-list>
      <nz-divider class="mb-lg"></nz-divider>
      <desc-list size="large" title="Trainer" class="mb-lg">
        <desc-list-item term="EID">XXX.XXX</desc-list-item>
        <desc-list-item term="FROM IG">PRD</desc-list-item>
      </desc-list>
      <button nz-button nzType="default" nzSize="large" style="margin-right: 20px;"><i class="anticon anticon-file-text"></i>Download Material</button>
      <button nz-button nzType="default" nzSize="large"><i class="anticon anticon-video-camera"></i>Download Video</button>
    </nz-col>
  </nz-row>
</nz-card>
